<!DOCTYPE html>
<!-- {% load analytics %} -->
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="author" content="OBY">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="msapplication-tap-highlight" content="no" />
        <link rel="icon" type="image/x-icon" href="{% static 'img/oby_favicon.ico' %}" />

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/oby-theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <style>{% block style %}{% endblock style %}</style>
        
        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.isotope.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
        {% block js %}{% endblock js %}
    </head>

    <body>
        {% spaceless %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="{% static 'img/navbar-brand.png' %}" class="navbar-brand navbar-brand-centered" />
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% url "home" as home_url %}
                        {% url "timeline" as timeline_url %}
                        {% url "notifications:notifications_all" as notifications_url %}
                        {% url "donations:info" as info_donation_url %}
                        <li>
                            <a href="{{ home_url }}" {% if request.path == home_url %} class="selected" {% endif %}>Home</a>
                        </li>
                        <li>
                            <a href="{{ timeline_url }}" {% if request.path == timeline_url %} class="selected" {% endif %}>Timeline</a>
                        </li>
                        <li>
                            <a href="{{ notifications_url }}" {% if request.path == notifications_url %} class="selected" {% endif %}><span class="notification-count">Notifications</span></a>
                        </li>
                        <li>
                            <a href="{{ info_donation_url }}" {% if request.path == info_donation_url %} class="selected" {% endif %}>Pay It Forward</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li >
                            <a href="{{ request.user.get_profile_view }}">{{ request.user }}</a>
                        </li>
                        <li>
                            <a href="{% url 'photos:photo_upload' %}" role="button" /><span class="fa fa-plus"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% if messages %}
            {% for message in messages %}
                <div role="alert" style="text-align: center;" class="alert alert-dismissible 
                    {% if 'success' in message.tags %}
                        alert-success
                    {% elif 'info' in message.tags %}
                        alert-info
                    {% elif 'warning' in message.tags %}
                        alert-warning
                    {% else %}
                        alert-danger
                    {% endif %} col-sm-6 col-sm-offset-3">
                    <button id='marketing-message-btn' type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    {% if 'safe' in message.tags %}
                        {{ message|safe }}
                    {% else %} 
                        {{ message }}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        
        {% block jumbotron %}{% endblock jumbotron %}
        
        <div class="container">
            {% block content %}{% endblock content %}
        </div>

        <script type="text/javascript" async>
            $(document).ready(function(){
                {% block jquery %}{% endblock jquery %}
            });
        </script>
        {% block photo_adjustment %}{% endblock photo_adjustment %}
        {% block get_notifications %}{% endblock get_notifications %}
        <!-- {% analytics_async 'UA-66160514-1' %} -->
        {% endspaceless %}
    </body>
</html>
