<!DOCTYPE html>
<!-- {% load analytics %} -->
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="author" content="OBY Studio">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="msapplication-tap-highlight" content="no" />
        <link rel="icon" type="image/x-icon" href="{% static 'img/oby_favicon.ico' %}" />

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/visitor-theme.min.css' %}" rel="stylesheet" media="screen">
        <style>{% block style %}{% endblock style %}</style>
    </head>

    <body>
        {% spaceless %}
        {% if request.user.is_authenticated %}
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{% url 'home' %}">OBY</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% url "home" as home %}
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}

        {% block jumbotron %}{% endblock jumbotron %}
        
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div role="alert" style="text-align: center;" class="alert alert-dismissible 
                        {% if 'success' in message.tags %}
                            alert-success
                        {% elif 'info' in message.tags %}
                            alert-info
                        {% elif 'warning' in message.tags %}
                            alert-warning
                        {% else %}
                            alert-danger
                        {% endif %} col-sm-10 col-sm-offset-1">
                        <button id='marketing-message-btn' type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        {% if 'safe' in message.tags %}
                            {{ message|safe }}
                        {% else %}
                            {{ message }}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock content %}
        </div>

        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript" defer></script>
        {% block js %}{% endblock js %}
        <!-- {% analytics_async 'UA-66160514-1' %} -->
        {% endspaceless %}
    </body>
</html>
