{% extends "simple_base.html" %}
{% load staticfiles %}

{% block title %}OBY{% endblock title %}

{% block js %}
    <script src="{% static 'js/jquery-color.min.js' %}" type="text/javascript" defer></script>
    <script src="{% static 'js/bg-change.min.js' %}" type="text/javascript" defer></script>
{% endblock js %}

{% block content %}
    <div class="visitor-container">
        <div class="col-md-12 slide section">
            <img src="{% static 'img/oby_transparent.png' %}" class="home-logo" />
            <h1 class="home-motto">CREATE. SHARE. THRIVE.</h1>
            <div class="col-md-12 home-caret">
                <img src="{% static 'img/caret.png' %}" class="jumper" locator="#findme"/>
            </div>
        </div>
        <div class="col-md-12 slide section" id="findme">
            <div class="col-md-4">
                <img src="{% static 'img/detail-one.png' %}" />
                <h3 class="detail-description">
                    Craft a memory.<br/>
                    Inspire others.
                </h3>
            </div>
            <div class="col-md-4">
                <img src="{% static 'img/detail-two.png' %}" />
                <h3 class="detail-description">
                    Share your creations.<br/>
                    Like, comment, and discover.
                </h3>
            </div>
            <div class="col-md-4">
                <img src="{% static 'img/detail-three.png' %}" />
                <h3 class="detail-description">
                    Thrive by putting<br/>
                    others before yourself.
                </h3>
            </div>
        </div>
        <div class="col-md-12 slide">
            <div class="col-md-12 app-store-badge">
                <a href="https://itunes.apple.com/us/app/oby/id1070867159?mt=8">
                    <img src="{% static 'img/app_store_135x40.svg' %}" />
                </a>
            </div>
            <div class="col-md-12">
                <h3>
                    <a href="{% url 'login' %}" class="submit-btn home-submit-btn signin-btn">Sign in</a>
                    <a href="{% url 'register' %}" class="submit-btn home-submit-btn special-btn">Sign up</a>
                </h3>
            </div>
        </div>
        <div class="col-sm-12 visitor-footer">
            <a href="{% url 'about' %}" class="visitor-footer-item">About</a>
            <a href="{% url 'contact:business_inquiry' %}" class="visitor-footer-item">Partnerships</a>
            <a href="mailto:team@obystudio.com" class="visitor-footer-item">team@obystudio.com</a>
            <a href="{% url 'privacy_policy' %}" class="visitor-footer-item">Privacy</a>
            <a href="{% url 'terms_of_use' %}" class="visitor-footer-item">Terms</a>
            <p class="visitor-footer-item">&copy; 2016 OBY</p>
        </div>
    </div>
{% endblock content %}
