{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}CTM - Chuckle To Myself{% endblock %}


{% block content %}
    <div class="col-sm-12">
        <div class="anonymous-container-header">
            <h3>Betcha thought this was actually an account!</h3>
            <h2>
                <span class="emoji">🔻</span>
                <span class="emoji">😝😂</span>
                <span class="emoji">🔻</span>
            </h2>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <div class="anonymous-container">
            <p>Woman: Is there a problem, Officer?<br/><br/>
            Officer: Ma'am, you were speeding.<br/><br/>
            Woman: Oh, I see.<br/><br/>
            Officer: Can I see your license please?<br/><br/>
            Woman: I'd give it to you but I don't have one.<br/><br/>
            Officer: Don't have one?<br/><br/>
            Woman: Lost it 4 times for drunk driving.<br/><br/>
            Officer: I see...Can I see your vehicle registration papers please.<br/><br/>
            Woman: I can't do that.<br/><br/>
            Officer: Why not?<br/><br/>
            Woman: I stole this car.<br/><br/>
            Officer: Stole it?<br/><br/>
            Woman: Yes, and I killed and hacked up the owner.<br/><br/>
            Officer: You what?<br/><br/>
            Woman: His body parts are in plastic bags in the trunk if you want to see.<br/><br/>
            The Officer looks at the woman, slowly backs away to his car, and calls for back up. Within minutes 5 police cars circle the car. A senior officer slowly approaches the car, clasping his half drawn gun.<br/><br/>
            Officer 2: Ma'am, could you step out of your vehicle please!<br/><br/>
            The woman steps out of her vehicle.<br/><br/>
            Woman: Is there a problem sir?<br/><br/>
            Officer 2: One of my officers told me that you have stolen this car and murdered the owner.<br/><br/>
            Woman: Murdered the owner?<br/><br/>
            Officer 2: Yes, could you please open the trunk of your car, please.<br/><br/>
            The woman opens the trunk, revealing nothing but an empty trunk.<br/><br/>
            Officer 2: Is this your car, ma'am?<br/><br/>
            Woman: Yes, here are the registration papers.<br/><br/>
            The first officer is stunned.<br/><br/>
            Officer 2: One of my officers claims that you do not have a driving license.<br/><br/>
            The woman digs into her handbag and pulls out a clutch purse and hands it to the officer. The officer snaps open the clutch purse and examines the license. He looks quite puzzled.<br/><br/>
            Officer 2: Thank you ma'am, one of my officers told me you didn't have a license, that you stole this car, and that you murdered and hacked up the owner.<br/><br/>
            Woman: Betcha the lying bastard told you I was speeding too.</p>
            <a href="http://www.thejokeyard.com/funny_stories/caught_speeding.html">thejokeyard.com</a>
        </div>
        <div class="contribute-container">
            <a href="mailto:anonymous@obystudio.com?subject=Anonymous Page Contribution&body=Please share what you would like to contribute (i.e. pictures, text, link, etc.). Whether it's funny, inspirational, an accomplishment, bring awareness, etc., we want to hear about it! Thank you!">
                <input class="submit-btn contribute-btn" type="submit" value="Want To Contribute?" />
            </a>
        </div>
    </div>
{% endblock %}
