{% extends "simple_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ user }}{% endblock title %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.lazyload.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("img.lazy").lazyload({threshold: 150});
        });
    </script>
    <script src="{% static 'js/typeahead.bundle.min.js' %}" type="text/javascript"></script>
{% endblock js %}

<style>
    {% block style %}
        body{
            background: #24282f;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    {% endblock style%}
</style>

{% block photo_adjustment %}
    <script type="text/javascript" src="{% static 'js/photo-auto-adjustment.min.js' %}"></script>
{% endblock photo_adjustment %}

{% block content %}
    {% if request.user != user %}
        <div class="col-md-2" style="margin-top: 43px;">
            <a href="{% url 'home' %}" class="submit-btn signin-btn" >my profile</a>
        </div>
    {% endif %}
    <!-- SEARCH -->
    <div class="search-container">
        <form role="search" action="/search/">
            <div class="custom-search-input">
                <div id="remote" class="input-group col-md-12 twitter-typeahead">
                    <input type="text" class="form-control input-lg typeahead tt-input" autocomplete="off" spellcheck="false" name="q" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-lg" type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>

    <!-- PROFILE INFO -->
    <div class="col-sm-12 account-home-profile">
        <div class="col-sm-12">
            <img class="account-home-profile-pic" src="{{ user.default_profile_picture }}" />
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <h2 class="account-home-profile-name">
                {{ user.full_name }} <small>{{ user.username }}</small>
            </h2>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            <h5 class="account-home-profile-description">{{ user.bio }}</h5>
            <h5 class="account-home-profile-description">
                <a href="http://{{ user.website }}">{{ user.website }}</a>
            </h5>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="account-home-stats">
                <div class="account-home-stat">
                    <b>
                        {% if follow %}
                            {{ follow.short_following_count }}
                        {% else %}
                            0
                        {% endif %}
                    </b>
                </div>
                <div class="account-home-stat">
                    <b>
                        {% if follow %}
                            {{ follow.short_followers_count }}
                        {% else %}
                            0
                        {% endif %}
                    </b>
                </div>
                <div class="account-home-stat">
                    <b>
                        {{ photos.count }}
                    </b>
                </div>
            </div>

            <div class="account-home-stats" style="margin-top: -45px;">
                <div class="account-home-stat">
                    Supporting
                </div>
                <div class="account-home-stat">
                    Supporters
                </div>
                <div class="account-home-stat">
                    Creations
                </div>
            </div>

            {% if request.user == user %}
                <a href="{% url 'accounts:account_settings' %}" class="submit-btn special-btn">Edit Profile</a>
            {% else %}
                <input id="follow_btn" 
                       class="submit-btn{% if request.user.username in follow.get_followers_usernames %} following-btn{% else %} go-btn{% endif %}" 
                       name="{{ user.id }}" 
                       value="{% if request.user.username in follow.get_followers_usernames %}Supporting{% else %}Support{% endif %}" 
                       type="button" />
            {% endif %}
        </div>
    </div>
    <!-- PICTURES -->
    <div class="ponder-items">
        {% for photo in photos %}
            <div class="ponder-item">
                {% if request.user == photo.creator %}
                    <button type="button" class="close">
                        <span aria-hidden="true">
                            <a href="{{ photo.get_delete_url }}" style="text-decoration: none;">&times;</a>
                        </span>
                    </button>
                {% endif %}
                <small>{{ photo.description }}</small>
                <img src="{{ photo.get_photo_url }}" class='lazy img-responsive'>
                <div class="photo-item-interactions">
                    <div class="photo-item-interaction">
                        <label class="like_count" style="cursor: default;">
                            {{ photo.short_like_count }} likes
                        </label>
                        <label style="cursor: default;">
                            {{ photo.short_comment_count }} comments
                        </label>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

<script>
    {% block jquery %}
        var usersDisplay = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('username'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            limit: 6,
            remote: {
                url: "{% url 'search_ajax' %}",
                replace: function(url, query) {
                    return url + "?q=" + query;
                }
            }
        });
        $('#remote .typeahead').typeahead({
            minLength: 1,
            highlight: true},
            {name: 'users-display',
            display: 'username',
            source: usersDisplay,
        });
        $('#follow_btn').click(function(e){
            e.preventDefault();
            var $follow_btn = $(this);
            if ($follow_btn.attr("class") == "submit-btn following-btn"){
                $follow_btn.val("Support");
                $follow_btn.removeClass("following-btn").addClass("go-btn");
            } else{
                $follow_btn.val("Supporting");
                $follow_btn.removeClass("go-btn").addClass("following-btn");
            }
            $.ajax({
                type: "POST",
                url: "{% url 'follow_ajax' %}",
                data: {
                    "user_id": $(this).attr("name"),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                dataType: "json",
                success: function(data) {
                    if (data.viewer_has_followed) {
                        $('#followers_count').html(data.followers_count);
                    } else {
                        $('#followers_count').html(data.followers_count);
                    }
                },
                error: function (rs, e) {
                    alert('Sorry, there was an error with your request. Please try again later.');
                }
            });
        });
    {% endblock jquery %}
</script>
