{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}OBY / Profile Settings{% endblock %}


{% block content %}
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'account_settings' %}">Profile <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'password_change' %}">Change Password</a></li>
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
        </ul>
    </div>
    <div class="col-sm-7 col-sm-offset-3 account-settings-container general-container">
        <h2 class="page-header settings-title">Profile Settings</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ account_change_form|crispy }}
            <input class="submit-btn go-btn" type="submit" value="Update Settings" />
        </form>    
    </div>
{% endblock %}
