{% extends "simple_base.html" %}
{% load crispy_forms_tags %}

{% block title %}OBY / Change Password{% endblock title %}

<style>
    {% block style %}
        body{
            background: #24282f;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    {% endblock style%}
</style>

{% block content %}
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="{% url 'profile_view' request.user.username %}">back to profile</a>
            <br/><br/>
            {% if advertiser %}
                <li><a href="{% url 'accounts:business_settings' %}">company settings</a></li>
            {% endif %}
            <li><a href="{% url 'accounts:account_settings' %}">profile</a></li>
            <li class="active">
                <a href="{% url 'accounts:password_change' %}">
                    change password <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a href="mailto:team@obystudio.com?subject=Contact us&body=Have a question, concern, comment, or just want someone to talk to? Please feel free to reach out! We'd be more than happy to help. Thank you for using OBY!">contact us</a>
            </li>
            <li><a href="{% url 'accounts:logout' %}">sign out</a></li>
        </ul>
    </div>
    <div class="col-sm-7 col-sm-offset-3 account-settings-container general-container">
        <h2 class="page-header settings-title">Change Password</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="submit-btn go-btn-form" type="submit" value="Update Password" />
        </form>    
    </div>
{% endblock content %}
