{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}OBY / Change Password{% endblock %}


{% block content %}
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="{% url 'account_settings' %}">Profile</a></li>
            <li class="active">
                <a href="{% url 'password_change' %}">
                    Change Password <span class="sr-only">(current)</span>
                </a>
            </li>
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
        </ul>
    </div>
    <div class="col-sm-6 col-sm-offset-3 account-settings-container general-container">
        <h2 class="page-header settings-title">Change Password</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="submit-btn go-btn" type="submit" value="Update Password" />
        </form>    
    </div>
{% endblock %}
