{% extends "base.html" %}
{% load staticfiles %}

{% block title %}OBY / Timeline{% endblock title %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.lazyload.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("img.lazy").lazyload({threshold: 150});
        });
    </script>
{% endblock js %}

{% block photo_adjustment %}
    <script type="text/javascript" src="{% static 'js/photo-auto-adjustment.min.js' %}"></script>
{% endblock photo_adjustment %}

{% block content %}
    <div class="timeline-profile">
        <div class="timeline-profile-stats">
            <div class="timeline-profile-username">
                <p>
                    <a href="{{ request.user.get_profile_view }}">{{ request.user.username|truncatechars:21 }}</a>
                </p>
            </div>
            <div class="timeline-profile-stat">
                <p>Supporting</p>
                <b>
                    {% if follow %}
                        <a href="{{ follow.get_following_url }}">{{ follow.following.count }}</a>
                    {% else %}
                        0
                    {% endif %}
                </b>
            </div>
            <div class="timeline-profile-stat">
                <p>Supporters</p>
                <b>
                    {% if follow %}
                        <a href="{{ follow.get_followers_url }}">{{ follow.followers.count }}</a>
                    {% else %}
                        0
                    {% endif %}
                </b>
            </div>
        </div>
    </div>
    {% include "photos/_photo_information_base.html" %}
{% endblock content %}

<script>
    {% block jquery %}
        {% include "photos/like_button_base.min.js" %}
    {% endblock jquery %}
</script>

{% block get_notifications %}
    <script type="text/javascript" async>
        $(window).load(function(){
            $.ajax({
                type: "POST",
                url: "{% url 'notifications:get_notifications_ajax' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(data){
                    var count = data.count
                    if (count == 0) {
                    } else {
                        $(".notification-count").css({"color": "#34ce93"})
                        $(".notification-count").html("Notifications (" + data.count + ")")
                    }
                },
                error: function(rs, e) {
                }
            })
        });
    </script>
{% endblock get_notifications %}
