{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}OBY / All Comments{% endblock title %}

{% block content %}
    <div class="col-sm-4 col-sm-offset-1">
        <a href="{% url 'home' %}">Home</a>
        {% if comments %}
            <table class='table'>
                {% for comment in comments %}
                    <tr>
                        <td>
                            <p class="comment-post-date">{{ comment.created|timesince }} ago</p>
                            <a href="{{ comment.user.get_profile_view }}">{{ comment.user }}</a>: {{ comment.hashtag_enabled_text|safe }}
                            <br/>
                            {% if not comment.is_child %}
                                {% if comment.get_children_count > 0 %}
                                    <a href='{{ comment.get_absolute_url }}' class='comment-interaction'>
                                        <small>VIEW THREAD ({{ comment.get_children_count }})</small> |
                                    </a>
                                {% endif %}
                                <a href='#' class='reply_btn comment-interaction'>
                                    <small>REPLY</small>
                                </a>
                                <div class='reply_comment'>
                                    <form method="POST" action='{% url "comments:comment_create" %}'>
                                        {% csrf_token %}
                                        <input type='hidden' name='parent_id' value='{{ comment.id }}' />
                                        <input type='hidden' name='photo_id' value='{% url "comments:comment_create" %}'/>
                                        <input type='hidden' name='origin_path' value='{{ comment.get_origin }}'/>
                                        {% crispy comment_form comment_form.helper %}
                                    </form>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <span class="no-comments">
                <h4>There are no comments yet.</h4>
                <h4>Be the first!</h4>
            </span>
        {% endif %}
    </div>
    <div class="col-sm-4 col-sm-offset-1" style="margin-top: 19px;">
        <form method="POST" action='{% url "comments:comment_create" %}'>
            {% csrf_token %}
            <input type='hidden' name='photo_id' value='{{ photo.id }}'/>
            <input type='hidden' name='origin_path' value='{{ request.get_full_path }}'/>
            {% crispy comment_form comment_form.helper %}
        </form>
    </div>
{% endblock content %}

<script>
    {% block jquery %}
        $('.reply_btn').click(function(e){
            e.preventDefault();
            $(this).next(".reply_comment").fadeToggle();
        })
    {% endblock jquery %}
</script>
