{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title %} / Create{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}


{% block content %}
    <div class='row'>
        <div class='col-sm-4 col-sm-offset-4'>
            <br/>
            <p style="text-align: center;" class='lead'>Please create your coupon here.</p>
            <form method='POST' action='{{ action_url }}' enctype='multipart/form-data'>
                {% csrf_token %}
                {% crispy form form.helper %}
            </form>
            <br/>
            <p>
                <i>* Indicates required fields.</i>
            </p>
        </div>
    </div>
{% endblock %}





