{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}OBY / #{{ tag }}{% endblock title %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.lazyload.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("img.lazy").lazyload({threshold: 150});
        });
    </script>
{% endblock js %}

{% block photo_adjustment %}
    <script type="text/javascript" src="{% static 'js/photo-auto-adjustment.min.js' %}"></script>
{% endblock photo_adjustment %}

{% block content %}
    <div class="hashtag-header"><h1>#{{ tag }}</h1></div>
    {% include "photos/_photo_information_base.html" %}
{% endblock content %}

<script>
    {% block jquery %}
        {% include "photos/like_button_base.min.js" %}
    {% endblock jquery %}
</script>
