{% extends "simple_base.html" %}

{% block title %}OBY / Privacy{% endblock title %}

<style>
    {% block style %}
        body{
            background-color: #24282f;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    {% endblock style %}
</style>

{% block content %}
    <div class="col-sm-8 col-sm-offset-2 policy-container">
        <h3>Privacy Policy of <b>OBY Studio</b></h3>
        <p style="text-align: center; margin-bottom: 21px;">This Application collects some Personal Data from its Users.</p>
        <div class="policy-separator">
            <h4>POLICY SUMMARY</h4>
            <h5>Personal Data collected for the following purposes and using the following services:</h5>
            <li>Location-based interactions</li>
            <p>Geolocation<br/>Personal Data: Geographic position</p>
            <li>Managing support and contact requests</li>
            <p>Personal Data: Various types of Data as specified in the privacy policy of the service</p>
            <li>Registration and authentication</li>
            <p>Direct registration<br/>Personal Data: Email address, Password, Gender, Biography, Picture, and Username</p>
            <h5>Further information about Personal Data</h5>
            <li>Push notifications</li>
            <p>This Application may send push notifications to the User.</p>
            <h5>Contact information</h5>
            <li>Data owner</li>
            <p>OBY Studio, <a href="mailto:team@obystudio.com">team@obystudio.com</a></p>
        </div>
        <div class="policy-separator">
            <h4>FULL POLICY</h4>
            <h5>Data Controller and Owner</h5>
            <p>OBY Studio, <a href="mailto:team@obystudio.com">team@obystudio.com</a></p>
            <h5>Types of Data collected</h5>
            <p>Among the types of Personal Data that this Application collects, by itself or through third parties, there are: Geographic position, Email address, Gender, Biography, Username, Password, and Picture. Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection. <br/>The Personal Data may be freely provided by the User, or collected automatically when using this Application.<br/>Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application, unless stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User.<br/>Failure to provide certain Personal Data may make it impossible for this Application to provide its services. Users are responsible for any Personal Data of third parties obtained, published or shared through this Application and confirm that they have the third party's consent to provide the Data to the Owner.</p>
            <h5>Mode and place of processing the Data</h5>
            <p><b>Methods of processing</b></p>
            <p>The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data. The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data Controller at any time.</p>
            <p><b>Place</b></p>
            <p>The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.</p>
            <p><b>Rentention time</b></p>
            <p>The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.</p>
            <h5>The use of the collected Data</h5>
            <p>The Data concerning the User is collected to allow the Owner to provide its services, as well as for the following purposes: Access to third party services' accounts, Registration and authentication, Location-based interactions, Infrastructure monitoring and Managing support and contact requests. The Personal Data used for each purpose is outlined in the specific sections of this document.</p>
            <h5>Detailed information on the processing of Personal Data</h5>
            <p>Personal Data is collected for the following purposes and using the following services:</p>
            <li>Infrastructure monitoring</li>
            <p>These services allow this Application to monitor the use and behavior of its components so its performance, operation, maintenance and troubleshooting can be improved. Which Personal Data are processed depends on the characteristics and mode of implementation of these services, whose function is to filter the activities of this Application.</p>
            <li>Location-based interactions</li>
            <p><b>Geolocation (This Application)</b></p>
            <p>This Application may collect, use, and share User location Data in order to provide location-based services.<br/>Most browsers and devices provide tools to opt out from this feature by default. If explicit authorization has been provided, the User’s location data may be tracked by this Application.<br/>Personal Data collected: Geographic position.</p>
            <li>Managing support and contact requests</li>
            <p>This Application offers services to manage support and contact requests received via email or by other means, such as the contact form.<br/>The Personal Data processed depend on the information provided by the User in the messages and the means used for communication (e.g. email address).</p>
            <li>Registration and authentication</li>
            <p>By registering or authenticating, Users allow this Application to identify them and give them access to dedicated services.<br/>Depending on what is described below, third parties may provide registration and authentication services.<br/>In this case, this Application will be able to access some Data, stored by these third party services, for registration or identification purposes.</p>
            <p><b>Direct registration (This Application)</b></p>
            <p>The User registers by filling out the registration form and providing the Personal Data directly to this Application.<br/>Personal Data collected: Email address, Password, Gender, Picture, Biography, and Username.</p>
            <h5>Further information about Personal Data</h5>
            <li>Push notifications</li>
            <p>This Application may send push notifications to the User.</p>
            <h5>Additional information about Data collection and processing</h5>
            <p><b>Legal action</b></p>
            <p>The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.<br/>The User declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities.</p>
            <p><b>Additional information about User's Personal Data</b></p>
            <p>In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.</p>
            <p><b>System Logs and Maintenance</b></p>
            <p>For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System Logs) or use for this purpose other Personal Data (such as IP Address).</p>
            <p><b>Information not contained in this policy</b></p>
            <p>More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.</p>
            <p><b>The rights of Users</b></p>
            <p>Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.<br/>This Application does not support “Do Not Track” requests.<br/>To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.</p>
            <p><b>Changes to this privacy policy</b></p>
            <p>The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that the Data Controller removes the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.</p>
            <p><b>Definitions and legal references</b></p>
            <p><b>Personal Data (or Data)</b></p>
            <p>Any information regarding a natural person, a legal person, an institution or an association, which is, or can be, identified, even indirectly, by reference to any other information, including a personal identification number.</p>
            <p><b>Usage Data</b></p>
            <p>Information collected automatically from this Application (or third party services employed in this Application), which can include: the IP addresses or domain names of the computers utilized by the Users who use this Application, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User's IT environment.</p>
            <p><b>User</b></p>
            <p>The individual using this Application, which must coincide with or be authorized by the Data Subject, to whom the Personal Data refer.</p>
            <p><b>Data Subject</b></p>
            <p>The legal or natural person to whom the Personal Data refers.</p>
            <p><b>Data Processor (or Data Supervisor)</b></p>
            <p>The natural person, legal person, public administration or any other body, association or organization authorized by the Data Controller to process the Personal Data in compliance with this privacy policy.</p>
            <p><b>Data Controller (or Owner)</b></p>
            <p>The natural person, legal person, public administration or any other body, association or organization with the right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of processing of Personal Data and the means used, including the security measures concerning the operation and use of this Application. The Data Controller, unless otherwise specified, is the Owner of this Application.</p>
            <p><b>This Application</b></p>
            <p>The hardware or software tool by which the Personal Data of the User is collected.</p>
            <p><b>Legal information</b></p>
            <p>Notice to European Users: this privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive 2009/136/EC, on the subject of Cookies.<br/>This privacy policy relates solely to this Application.</p>
        </div>
        <div class="policy-separator">
            <small>Latest update: August 07, 2015</small>
        </div>
    </div>
    <div class="col-sm-12 visitor-footer">
        <a href="{% url 'home' %}" class="visitor-footer-item">Home</a>
        <a href="{% url 'about' %}" class="visitor-footer-item">About</a>
        <a href="{% url 'contact:business_inquiry' %}" class="visitor-footer-item">Partnerships</a>
        <a href="mailto:team@obystudio.com" class="visitor-footer-item">team@obystudio.com</a>
        <a href="{% url 'terms_of_use' %}" class="visitor-footer-item">Terms</a>
        <p class="visitor-footer-item">&copy; 2016 OBY</p>
    </div>
{% endblock content %}
