{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}OBY / Change Password{% endblock title %}

{% block content %}
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="{% url 'accounts:account_settings' %}">Profile</a></li>
            <li class="active">
                <a href="{% url 'accounts:password_change' %}">
                    Change Password <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a href="mailto:team@obystudio.com?subject=Contact us&body=Have a question, concern, comment, or just want someone to talk to? Please feel free to reach out! We'd be more than happy to help. Thank you for using OBY!">Contact Us</a>
            </li>
            <li><a href="{% url 'accounts:logout' %}">Sign Out</a></li>
        </ul>
    </div>
    <div class="col-sm-7 col-sm-offset-3 account-settings-container general-container">
        <h2 class="page-header settings-title">Change Password</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="submit-btn go-btn-form" type="submit" value="Update Password" />
        </form>    
    </div>
{% endblock content %}
