{% extends "visitor_base.html" %}
{% load crispy_forms_tags %}

{% block title %}OBY / Reset Password{% endblock title %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3 contact-container">
        <h1>Reset Password</h1>
        <h5>Please enter the email address of your account below.</h5>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="submit-btn signin-btn" type="submit" value="Send" />
        </form>    
    </div>
    <div class="col-sm-12 visitor-footer">
        <a href="{% url 'home' %}" class="visitor-footer-item">Home</a>
        <a href="{% url 'about' %}" class="visitor-footer-item">About</a>
        <a href="mailto:team@obystudio.com" class="visitor-footer-item">team@obystudio.com</a>
        <a href="{% url 'privacy_policy' %}" class="visitor-footer-item">Privacy</a>
        <a href="{% url 'terms_of_use' %}" class="visitor-footer-item">Terms</a>
        <a href="{% url 'login' %}" class="visitor-footer-item">Sign in</a>
        <p class="visitor-footer-item">&copy; 2015 OBY Studio</p>
    </div>
{% endblock content %}
