{% extends "simple_base.html" %}

{% block title %}OBY / ?{% endblock title %}

{% block content %}
    <div class="http-error">
        <h3>Sorry, that page doesn't exist!</h3>
        <h4>You can try another page or <a href="{% url 'home' %}">return to the homepage</a>.</h4>
    </div>
{% endblock content %}
