{% extends "simple_base.html" %}

{% block title %}OBY / Server Error{% endblock title %}

{% block content %}
    <div class="http-error">
        <h3>Well, this is embarassing...</h3>
        <h4>The site will be working soon.</h4>
        <h4>Thank you for your patience!</h4>
    </div>
{% endblock content %}
