<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="author" content="OBY">
        <meta name="apple-itunes-app" content="app-id=1070867159">
        <!-- Add a block on each page to update the description and keywords for each url -->
        <!-- <meta name="description" content="My description">
        <meta name="keywords" content="My, list, of, keywords"> -->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="msapplication-tap-highlight" content="no">
        <link rel="icon" type="image/x-icon" href="{% static 'img/oby_favicon.ico' %}" />

        <!-- Inline all CSS above the fold directly into the HTML. Defer the rest in the CSS file -->
        <!-- var l = document.createElement('link');
        l.rel='stylesheet';
        l.href='defer.css';
        l.media='defer';
        l.addEventListener('load', function() { l.media=''; }, false);
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(l, s); -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/oby-simple.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
        <style>{% block style %}{% endblock style %}</style>

        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.isotope.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
        {% block js %}{% endblock js %}
    </head>

    <body>
        {% spaceless %}
        {% block jumbotron %}{% endblock jumbotron %}
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div role="alert" style="text-align: center;" class="alert alert-dismissible 
                        {% if 'success' in message.tags %}
                            alert-success
                        {% elif 'info' in message.tags %}
                            alert-info
                        {% elif 'warning' in message.tags %}
                            alert-warning
                        {% else %}
                            alert-danger
                        {% endif %} col-sm-10 col-sm-offset-1">
                        <button id='marketing-message-btn' type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        {% if 'safe' in message.tags %}
                            {{ message|safe }}
                        {% else %}
                            {{ message }}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock content %}
        </div>
        <script type="text/javascript" async>
            $(document).ready(function(){
                {% block jquery %}{% endblock jquery %}
            });
        </script>
        {% block photo_adjustment %}{% endblock photo_adjustment %}
        {% endspaceless %}
    </body>
</html>
