{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}OBY / Comment Thread{% endblock title %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <h2 class="comment-title">Comments</h2>
        <a href="{% url 'home' %}">Home</a>
        <table class='table'>
            <tr>
                <td class="thread-parent-comment">
                    <p class="post-date">{{ comment.created|timesince }}</p>
                    <a href="{{ comment.user.get_profile_view }}">{{ comment.user }}</a>: {{ comment.get_comment }}
                </td>
            </tr>
            {% if not comment.is_child %}
                {% for child in comment.get_children %}
                    <tr>
                        <td>
                            <a href="{{ child.user.get_profile_view }}">{{ child.user }}:</a> {{ child.get_comment }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <form method="POST" action='{% url "comments:comment_create" %}'>
            {% csrf_token %}
            <input type='hidden' name='parent_id' value='{{ comment.id }}' />
            {% crispy form form.helper %}
        </form>
    </div>
{% endblock content %}
