{% extends "base.html" %}
{% load staticfiles %}

{% block title %}OBY / {{ obj.title }}{% endblock title %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.lazyload.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("img.lazy").lazyload({threshold: 150});
        });
    </script>
{% endblock js %}

{% block photo_adjustment %}
    <script type="text/javascript" src="{% static 'js/photo-auto-adjustment.min.js' %}"></script>
{% endblock photo_adjustment %}

{% block content %}
    <div class="category-items">
        {% for item in categories %}
            <div class="category-item" style="border: 3px solid {{ item.border_color }}; text-shadow: 0 1px 1px {{ item.border_color }};" onclick="window.location='{{ item.get_absolute_url }}'">
                <h4>{{ item }}</h4>
            </div>
        {% endfor %}
    </div>
    <div class='col-sm-12'>
        <h1 class="trending-banner">{{ obj.title }}</h1>
    </div>
    {% if photos %}
        {% include "photos/_photo_information_base.html" %}
    {% else %}
        <h3 style='text-align: center; color: #e9eaed;'>There are no pictures yet. Be the first!</h3>
    {% endif %}
{% endblock content %}

<script>
    {% block jquery %}
        {% include "photos/like_button_base.min.js" %}
    {% endblock jquery %}
</script>
