{% extends "simple_base.html" %}
{% load staticfiles %}

{% block title %}OBY / Delete Photo{% endblock title %}

{% block content %}
    <div class='col-sm-6 col-sm-offset-3 delete-container'>
        {% if request.user == object.creator %}
            <h1 class="notification-title">Delete Photo</h1> 
            <p>Are you sure you want to delete this picture?</p>
            <img src="{{ object.get_photo_url }}" />
            <form action="" method="POST">
                {% csrf_token %}
                <input class='submit-btn caution-btn' type="submit" value="Delete" />
                <input class='submit-btn cancel-btn' type="button" value="Cancel"
                       onclick="window.location='{% url 'home' %}'"/>
            </form>
        {% else %}
            <h4>You're not allowed to be here.</h4>
            <a href="{% url 'home' %}">
                <img class="img-responsive" src="{% static 'img/bye_felicia.png' %}" />
            </a>
        {% endif %}
    </div>
{% endblock content %}
