{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because your email address was entered in the forgotten password form at OBY.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using OBY!" %}

{% trans "If you believe you have received this email in error, please ignore it." %}

{% blocktrans %}The OBY team{% endblocktrans %}

{% endautoescape %}